@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 170px 70px;
}

.bloco1, .bloco2, .bloco3{
  width: 270px;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  background-color: #fff;

  box-shadow: 5px 10px 10px rgb(189, 183, 183);
  border-radius: 20px;
}

.bloco1{
  background-color: #2E6434;
  color: white;
  padding: 40px 40px 0;
  
}

.bloco1 img{
  width: 200px;
  margin-top: 20px;
 
}

.bloco1 h3{
  line-height: 40px;
  width: 100%;
  margin-bottom: 30px;
  font-weight: 300;
}

.bloco1 h3 span{
  font-weight: 700;
}

.bloco1 p {
  font-size: 13px;
  font-weight: 300;
}

.informacao{
  width: 100%;
  text-align: left;
  padding: 40px 20px 0;
  width: 270px;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.plano{
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

.plano h2{
  font-weight: 700;
  font-size: 20px;
}

.plano img{
  width: 30px;
}

.informacao p{
  color: #A9A9AA;
  font-weight: 300;
  margin-bottom: 20px;
}

.informacao a{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #35353F;
  font-size: 13px;
  margin-bottom: 10px;
}

.informacao a img{
  width: 20px
}

.informacao h3{
  margin-top: 30px;
  border-top: 1px dashed rgb(99, 97, 97);
  padding-top: 20px;
  width: 100%;
}

.informacao h3 span{
  font-size: 13px;
  font-weight: 500;
}

.informacao button{
  background-color: #2E6434;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 12px;
  cursor: pointer;
  transition: .4s;
}

.informacao button:hover{
  background-color: #1b3d1f;
}